<form class="dynamic-form" (submit)="handleSubmit($event)">
	<div class="container-fd">
		<div class="sec-menubar">
			<accela-section-menu></accela-section-menu>
		</div>
		<div class="sec-formdetail">
			<accela-section-formdetail></accela-section-formdetail>
		</div>
		<div class="sec-formdesigner">
			<div class="sec-control">
				<accela-section-control></accela-section-control>
				<accela-section-property></accela-section-property>
			</div>
			<div class="sec-designer">
				<accela-section-designer></accela-section-designer>
			</div>
		</div>
	</div>
</form>